@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .5);
    z-index: 10;
}

.navbar-brand{
    font-weight: 600;
    font-family: 'Satisfy', cursive;
    font-display: 300px;
}

.nav-link{
    color: rgb(255, 255, 255) !important;
    border-bottom: transparent;
    
    
}

.nav-link:hover{
    border-bottom: 1px solid white; 
}

/* Home section*/

section{
    width: 100%;
    height: 100vh;
    
}



#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(freelancer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;

}

#home p{
    position: absolute;
    top: 40%;
    font-size: 100px;
    opacity: 0;
    animation: text 3s ease-in-out;
    
}

@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#home p:nth-child(1){
    animation-delay: 0s;
}
#home p:nth-child(2){
    animation-delay: 3s;
}
#home p:nth-child(3){
    animation-delay: 6s;
}
#home p:nth-child(4){
    animation-delay: 9s;
}
#home p:nth-child(5){
    animation-delay: 12s;
}
#home p:nth-child(6){
    animation-delay: 15s;
}
#home p:nth-child(7){
    animation-delay: 18s;
}
#home p:nth-child(8){
    animation-delay: 21s;
}
#home p:nth-child(9){
    animation-delay: 24s;
}
#home p:nth-child(10){
    animation-delay: 27s;
}
#home p:nth-child(11){
    animation-delay: 30s;
}
#home p:nth-child(12){
    animation-delay: 33s;
}
#home p:nth-child(13){
    animation-delay: 36s;
}
#home p:nth-child(14){
    animation-delay: 39s;
}
#home p:nth-child(15){
    animation-delay: 42s;
}


#home span{
    color: yellow;
}

/*about section*/
#about{
    background: linear-gradient(#cc2b5e,#753a88);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bottom{
    display: block;
    position: relative;
    
    display: block;
    top: 40%;
    left: -20%;
}

.bottom:hover{
    opacity: 0;
}


.circle{
    width: 450px;
    height: 450px;
    background: white;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 0px 0px black;
    margin-bottom: 8%;
    margin-top: 8%;
    transition: 1s;
    left: 0%;
}



.circle img{
    position: absolute;
    width: 390px;
    height: 390px;
    left: 6.7%;
    top: 4%;
    border-radius: 50%;
    filter: drop-shadow(0px 30px 15px rgba(0, 0, 0,.4));
    transition: 1s;
 

   
}
.circle:hover{
    width: 700px;
    height: 450px;
    border-radius: 10px;
    background: yellow;
    transition: 1s;
    opacity: 100%;
   
}

.circle:hover img{
    position: absolute;
    left: -2%;
    transition: 1s;
    opacity: 100%;
    
}

.circle:hover .content{
    position: absolute;
    top: 20%;
    right: 0;
    width: 50%;
    color: rgb(0, 0, 0);
    opacity: 1;
    transition: 2s;
    
}

.circle .content{
    opacity: 0;
}

/*skill section*/

#skill{
    padding-top: 10%;
    background: linear-gradient(#06beb6 , #48b1bf);
    width: 100%;
    max-height: fit-content;
}

#skill .container{
   margin-top: 3%;
}

/*project section*/

#project{
    background: linear-gradient(#7b4397 , #dc2430);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}
.carousel{
    width: 70%;
    height: 80vh;
    box-shadow: 10px 20px 10px rgb(0, 0, 0);
}
iframe{
    width: 101%;
    height: 81vh;
}
.carousel button{
    height: 20%;
    margin-top: 30vh;
    }
#carousel-ind{
  
    height: 0%;
    margin-bottom: 50vh;
   
    
}

/*media screen xxs*/

@media screen and (max-width:380px){
    #home p{
        top: 40%;
        font-size: 50px;
    }
    
    .text-center .word-break{
        display: block;
        color: aqua !important;
    }
    .text-center .word-color{
        color: aqua !important ;
    }
    /*about section*/

    .circle{
        width: 280px;
        height: 280px;
        position: relative;
        margin-top: 2%;
        margin-bottom: 2%;

    }
    .circle img{
        position: absolute;
        width: 250px;
        height: 250px;
        left: 5%;
        top: 0%; 
        filter: drop-shadow(0px,30px,0px rgba(0, 0, 0,.4));

    }
    .circle:hover{
        width: 250px;
        height: 600px;
        background:aqua ;
    }
    .circle:hover img{
        left: 1%;
        top: 0%;
    }
    .circle:hover .content{
        position: absolute;
        top: 45% ;
        padding: 10px ;
        width: 100%;
        color: rgb(0, 0, 0);
        opacity: 1;
        transition: 2s;
    }
    
    .circle .content{
        opacity: 0;
    }

    

    /*skill section*/


    #skill{
        padding-top: 10%;
        padding-bottom: 50vh;
        

    }
    #skill .container{
       padding-bottom: 10%;
       margin-top: 2%;
    }  

    #skill-col{
        padding-top: 5vh;
    }

    /* project section*/

    .carousel{
        width: 90%;
        height: 30vh;
        box-shadow: 10px 20px 10px rgb(0, 0, 0);
    }
    iframe{
        width: 101%;
        height: 30vh;
    }
    .carousel button{
        
        height: 20%;
        margin-top: 12vh;
        }
    #carousel-ind{
        
        height: 5%;
        margin-bottom: 22vh;
       
    }

}




/* meadia screen xs*/

@media screen and (max-width:575.98px) and (min-width:381px){
    #home p{
        top: 40%;
        font-size: 50px;
    }
    
    .text-center .word-break{
        display: block;
        color: aqua !important;
    }
    .text-center .word-color{
        color: aqua !important;
    }
    /*about section*/

    .circle{
        width: 280px;
        height: 280px;
        position: relative;
        margin-top: 2%;
        margin-bottom: 2%;
      

    }
    .circle img{
        position: absolute;
        width: 300px;
        height: 300px;
        left: 10%;
        top: 0%; 
        filter: drop-shadow(0px,30px,0px rgba(0, 0, 0,.4));

    }
    .circle:hover{
        width: 300px;
        height: 600px;
        background: aqua;
    }
    .circle:hover img{
        left: 1%;
        top: 0;
    }
    .circle:hover .content{
        position: absolute;
        top: 50% ;
        padding: 10px ;
        width: 100%;
        color: rgb(0, 0, 0);
        opacity: 1;
        transition: 2s;
    }
    
    .circle .content{
        opacity: 0;
    }

    

    /*skill section*/

    #skill{
        padding-top: 20%;
        max-height: fit-content;

    }
    #skill .container{
        padding-bottom: 6%;
        margin-top: 2%;
    } 
    #skill-col{
        padding-top: 5vh;
    }
    
    /*project section*/
    

    .carousel{
        width: 90%;
        height: 50vh;
        box-shadow: 10px 20px 10px rgb(0, 0, 0);
    }
    iframe{
        width: 101%;
        height: 51vh;
    }
    .carousel button{
      
        height: 20%;
        margin-top: 18vh;
        }
    #carousel-ind{
        
        height: 5%;
        margin-bottom: 29vh;
        margin-top: 0%;
        padding-top: 0%;
    }


   
}

/* meadia screen sm*/

@media screen and (max-width:767.98px) and (min-width:576px){
    #home p{
        font-size: 50px;
    }
    
    /*about section*/
    .circle{
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .circle img{
        width: 280px;
        height: 280px;
        left: 20%;
        top: 21%;
 
     }
     .circle:hover{
         width: 550px;
         height: 300px;
     }
     .circle:hover img{
        left: -2%;
        top: 3%;
     }
     .circle:hover .content{
        width: 55%;
     }
     
     .circle .content{
        opacity: 0%;
     }
  
    /*skill section*/

    #skill{
        padding-top: 8%;
        max-height: fit-content;

    }
    #skill .container{
        padding-bottom: 6% ;
        margin-top: 2%;
    } 
    #skill-col{
        padding-top: 5vh;
    }
    /*project section*/

    .carousel{
        width: 90%;
        height: 64vh;
        box-shadow: 10px 20px 10px rgb(0, 0, 0);
    }
    iframe{
        width: 101%;
        height: 65vh;
    }
    .carousel button{
        
        height: 20%;
        margin-top: 26vh;
        }
    #carousel-ind{
        
        height: 5%;
        margin-bottom: 35vh;
        margin-top: 0%;
        padding-top: 0%;
    }
}   

    /* meadia screen md*/

@media screen and (max-width:991.98px) and (min-width:768px){
    #home p{
        font-size: 60px;
    }
    /*about section*/
    .circle{
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .circle img{
        width: 300px;
        height: 300px;
        left: 18%;
        top: 15%;
 
     }
     .circle:hover{
         width: 550px;
         height: 350px;
     }
     .circle:hover img{
        top:3%;
     }

    /*skill section*/

    #skill{
        padding-top: 7%;
        max-height: fit-content;

    }
    #skill .container{
        padding-bottom: 6%;
        margin-top: 2%;
    }  
    #skill-col{
        padding-top: 5vh;
    } 
    /*project section*/

    .carousel{
        width: 90%;
        height: 80vh;
        box-shadow: 10px 20px 10px rgb(0, 0, 0);
    }
    iframe{
        width: 101%;
        height: 81vh;
    }
    .carousel button{
       
        height: 20%;
        margin-top: 26vh;
        }
    #carousel-ind{
        
        height: 5%;
        margin-bottom: 40vh;
        margin-top: 0%;
        padding-top: 0%;
    }
}

    
